# Application
APP_NAME=FinanceHub
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database
DB_CONNECTION=pgsql
DB_HOST=financehub-db
DB_PORT=5432
DB_PORT_FORWARD=5433
DB_DATABASE=financehub
DB_USERNAME=financehub
DB_PASSWORD=financehub_secret

# Session & Sanctum SPA
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:80,localhost:8000
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:8000
